#Matched{
    display: grid;
    grid-template-columns: 315px 315px 315px 315px;
    grid-template-rows: 215px 215px 215px 215px;
}









#OneReq{
    background-color: rgb(245, 49, 65);
    height: 200px;
    width: 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#fullname{
    position: absolute;
    margin: 0;
    top:10px;
    left: 10px;
}

#bloodtype{
    position: absolute;
    margin: 0;
    top:10px;
    left: 250px;
}

#hospital{
    position: absolute;
    margin: 0;
    top:50px;
    left: 15px;
}

#phone{
    position: absolute;
    margin: 0;
    top:70px;
    left: 15px;
}

#location{
    position: absolute;
    margin: 0;
    top:90px;
    left: 15px;
}

#date{
    position: absolute;
    margin: 0;
    top:130px;
    left: 15px;
}

#conf{
    position: absolute;
    top:170px;
    left: 225px;
    background-color: #7e0d0d; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(190, 17, 17);
}


#dec{
    position: absolute;
    top:170px;
    left: 155px;
    background-color: #7e0d0d; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(190, 17, 17);
}
