

.WhenCanIBlood{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
    
}
.A{
    margin-left: 450px;
    margin-top: -200px;
}
.AB{
    margin-left: 450px;
    margin-top: -185px;
}
.wheni{
    margin-top: 20vh;
}

