#MyRequset3{
    display: grid;
  grid-template-columns: 430px 430px 430px ;
  grid-template-rows: 125px 125px 125px ;
  gap: 10px;
    
}


.ConCandidates{
    background-color: rgb(245, 49, 65);
    height: 110px;
    width: 420px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

#fullName1{
    position: absolute;
    top: 0;
    left : 10px ;

}

#bloodType1{
    position: absolute;
    top: 50px;
    left : 60px ;
}

#phoneNumber1{
    position: absolute;
    top: 0;
    left : 275px ;
}
