#MyRequset{
  
  display: grid;
  grid-template-columns: 430px 430px 430px ;
  grid-template-rows: 125px 125px 125px ;
  gap: 10px;
  
  
  
}


#RequestCard{
    background-color: rgb(245, 49, 65);
    height: 110px;
    width: 420px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

#blood{
    position: absolute;
    top: 20px;
    left : 10px ;
    color: white;

}

#hosp{
    position: absolute;
    top: 20px;
    left : 70px ;
    color: white;
}

#mydate{
    position: absolute;
    top: 5px;
    left : 225px ;
    color: white;
   
}

#candidates{
    position: absolute;
    top:80px;
    left : 320px ;
    background-color: #7e0d0d; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(190, 17, 17);
    
}


#conBack{
    position: absolute;
    top:400px;
    left: 1200px ;
    background-color: #7e0d0d; /* Green */
    border: none;
    color: white;
    padding: 25px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(190, 17, 17);
}





#delete{
    position: absolute;
    top:80px;
    left : 260px ;
    background-color: #7e0d0d; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(190, 17, 17);
}