body{
    background-color: rgb(241, 238, 238);
}

#allProfile{
    position: relative;
    background-color: rgb(241, 238, 238);

}
#profile{
    
   
    top: 80px;
    position: relative;
   
   

}

#newrequest{
    position: absolute;
    top: 350px;
    left: 600px;
    
    height: 200px;
    width: 400px;
}

#matchedrequest{
    position: absolute;
    top: 180px;

}

#myrequest1{
    position: absolute;
    top: 180px;
}


#profileNavigation{
    position: absolute;
    margin: 0;
    left: 500px;
    top:50px;
    z-index: 6;
    
    width: 50%;
    height: 50px;
   
}

#mainSpace{
    position: absolute;
    margin-top: 20px;
    margin-left: 1%;
}


#userInformation{
    position: absolute;
    left: 0px;
    height: 175px;
    width: 1500px;
    left: 20px;
    border-bottom: 2px solid rgb(36, 35, 35);
}


.profileButton{
  background-color: #cecccc!important; /* Green */
  border: 0.5px solirgb(180, 5, 5)ed;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}


.profileButton{
    transition-duration: 0.5s;
}
  
.profileButton:hover {
    background-color: #e68b8b; /* Green */
    color: rgb(17, 12, 12);
}






#profileImage{
    height: 150px;
    width: 200px;
    position: absolute;
    left: 10px;
    border-radius: 10%;
   
}

#userName{
    color: rgb(15, 15, 15);
    position: absolute;
    left: 250px;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
    
  
}

#namehr{
    color: rgb(66, 66, 66);
    border-style: solid;
    margin: 3px;
}

#userblood{
    color: rgb(15, 15, 15);
    position: absolute;
    left: 300px;
    top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}





